.rounded-image {
    border-radius: 50%;
}

.medium-container {
    height: 200px;
    width: 200px;
}

.small-container {
    height: 100px;
    width: 100px;
}

.smaller-container {
    height: 50px;
    width: 50px;
}

a {
    color: #254A5D;
    text-decoration: none;
    border-bottom: 0px solid green;
}